<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <appSettings>
    <add key="storageAccount" value="abc" />
    <add key="storageKey" value="/aOibnZ1/AHo93mM7IImWLr1Z5pKjUEdk+D5FBX+SF6JKi0kdQHXhhkn9ZfB4wWX8PTHlvN7r4wlyvUpj+6AFA==" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IDocumentSerializer" type="SolidPrinciples.DIP.IoCContainer.IDocumentSerializer, SolidPrinciples.DIP.IoCContainer" />
    <alias alias="IInputRetriever" type="SolidPrinciples.DIP.IoCContainer.IInputRetriever, SolidPrinciples.DIP.IoCContainer" />
    <alias alias="IDocumentPersister" type="SolidPrinciples.DIP.IoCContainer.IDocumentPersister, SolidPrinciples.DIP.IoCContainer" />
    <alias alias="BlobDocumentStorage" type="SolidPrinciples.DIP.IoCContainer.BlobDocumentStorage, SolidPrinciples.DIP.IoCContainer" />
    <alias alias="InputParser" type="SolidPrinciples.DIP.IoCContainer.InputParser, SolidPrinciples.DIP.IoCContainer" />
    <container>
      <!--<register type="IDocumentSerializer" mapTo="SolidPrinciples.DIP.IoCContainer.IndentedCamelCaseJsonSerializer, SolidPrinciples.DIP.IoCContainer" />-->
      <register type="IDocumentSerializer" mapTo="SolidPrinciples.DIP.IoCContainer.CamelCaseJsonSerializer, SolidPrinciples.DIP.IoCContainer" />
      <register type="InputParser" mapTo="SolidPrinciples.Dip.IoCContainer.JsonInputParser, SolidPrinciples.Dip.IoCContainer" />
    </container>
  </unity>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>